[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "*"
pygments = "*"
"pypiwin32" = "*"
"kivy.deps.sdl2" = "*"
"kivy.deps.glew" = "*"
opencv-contrib-python = "==3.3.0.9"
dlib = "*"
numpy = "*"
imutils = "*"
kivy = "*"
"kivy.deps.gstreamer" = "*"
plyer = "*"

[dev-packages]

[requires]
python_version = "3.6"
